[2019-12-20 17:08] gkmngrgn opened #8 "Use the new pythonic module `pathlib` instead of `os.path`"
Who can take a look at this issue? @hakancelik96 @isidentical?

https://github.com/hakancelik96/unimport/pull/4/files/183645ee3845b85978b1751506ecb4e61a4bbfca#diff-17648ebdb7f13b2f63c236a55af216ad

[2019-12-20 17:31] isidentical commented on #8
Unfortunately, not me :/

[2020-01-06 13:16] hakancelik96 opened #10 ".unimport.cfg configuration bug"
The configuration setting causing the error is as follows.
[code]

Error Output
[code]

If I add folders configuration settings in a file like below

[code]
does not return any errors

[2020-01-06 13:49] hakancelik96 opened #11 "Example configurations"
Example configurations will be written to help.
to Python, Django and Flask projects

[2020-01-07 07:42] hakancelik96 opened #12 "diff option"

[2020-01-07 18:44] #12 closed

[2020-01-07 18:44] hakancelik96 commented on #11
https://github.com/hakancelik96/unimport/commit/70c70ba0d5ac8f200986c5c0a57acc8ccc574dab

[2020-01-11 23:06] #10 closed

[2020-01-11 23:06] #8 closed

[2020-01-16 02:13] hakancelik96 opened #18 ".gitignore support"

[2020-03-01 17:57] hakancelik96 opened #19 "from x import * support"

[2020-03-01 18:03] hakancelik96 commented on #19
@hakancelik96 ben suan bu özelliği ayrı bir repo da yaptım testini yazdım kullandım gayet iyi

[2020-03-01 18:04] hakancelik96 commented on #19
@hakancelik96 aaa yorum gitti

[2020-03-03 10:50] hakancelik96 opened #20 "asname refactoring support"
Unimport can't refactor codes which like these
`from x import y as z` or `import x as y`

[2020-03-08 18:11] #19 closed

[2020-04-11 14:03] hakancelik96 opened #22 "Dublicate import dedect and auto remove support"

[2020-04-15 19:54] #22 closed

[2020-04-16 23:21] #20 closed

[2020-04-18 11:15] gkmngrgn opened #25 "Mypy Support"
I think that would be a nice if we integrate static typing before switching to pytest. So we won't need to check the types of objects.

# Goal
- Configure mypy in pyproject.toml.
- Update the codebase for mypy.
- And check mypy errors in GitHub Actions.

[2020-04-18 11:34] isidentical opened #26 "3.10+ Support"
See Instagram/LibCST#285

[2020-05-09 13:19] hakancelik96 opened #28 "Star import bug when ModuleNotFoundError error during scanning."
If unimport takes an ModuleNotFoundError error during scanning and this import is a star import, unimport considers it an unused import, but it shouldn't considers it an unused import. It should skip this import.

[2020-05-09 15:13] #28 closed

[2020-05-11 03:53] hakancelik96 opened #30 "Rewrite refactor codes with libcst"
https://github.com/Instagram/LibCST

[2020-05-11 15:03] hakancelik96 commented on #30
This issue is cancelled

[2020-05-16 01:48] #30 closed

[2020-05-21 04:57] hakancelik96 opened #35 "support exclude & include config with regex"

[2020-05-21 11:21] #35 closed

[2020-05-30 16:07] furkanonder opened #40 "Fix typo in CONTRIBUTING.md"

[2020-05-30 16:09] furkanonder opened #41 "update try catches blocks in scan.py"

[2020-05-30 16:10] furkanonder opened #42 "fix typo and add new test case for test_unused_import.py"

[2020-05-30 16:41] #41 closed

[2020-05-31 08:52] #40 closed

[2020-06-01 18:19] jparise opened #45 "Ignore imports that shadow builtin names"
In our code base, we import some names from `builtins` as part of our Python 2+3 compatibility layer (using the [future](https://python-future.org/) library). These imports shadow the names of builtin symbols. For example:

[code]

_unimport_ flags these are unused imports, which is a false positive in our environment.

I can think of two possible solutions:

1. Teach _unimport_ to ignore these im

[2020-06-01 18:29] jparise opened #46 "Support the `try ... except ImportError` pattern"
_unimport_ doesn't seem to recognize this common pattern:

[code]

If the initial import fails with `ImportError`, the second will be used. In this case, _unimport_ flags the first import attempt as unused.

[2020-06-01 18:36] jparise opened #47 "Imported exception types are flagged as unused"
If the imported type is only used in `except` statements, it will be flagged as unused. For example:

[code]

... produces:

[code]

[2020-06-01 18:57] jparise opened #48 "Consider ignoring imports annotated with a `noqa` comment"
It would be nice if this tool recognize flake8-style `# noqa` comments. For example, if an import was annotated like this:

[code]

... it wouldn't be flagged as unused even if it was never referenced.

[2020-06-01 19:00] jparise opened #49 "Recognize `typing` imports used in typing comments"
It's common to import types from the `typing` package and only reference them in comments (for compatibility with Python 2). These imports are currently flagged as unused.

[code]

[2020-06-01 19:13] hakancelik96 commented on #48
We use `#unimport:skip` comment to skip imports.
Example;
[code]

Would it be really nice to recognize flake8-style support?

I am wondering what your thinking are @isidentical  @gkmngrgn

[2020-06-01 19:32] jparise commented on #48
Thanks! I missed this in the documentation.

[2020-06-01 21:05] hakancelik96 commented on #47
In Python, [ConnectionError](https://docs.python.org/3/library/exceptions.html#ConnectionError) exists in built-in exceptions, and we ignore built-in objects directly.

for example;

[code]

But wouldn't that be a bad use to give object the same names with built-in names.

Should we fix this issue, if we fix it, we will support this bad usage.
I am wondering what you are thinking.

[2020-06-01 21:16] jparise commented on #47
Yes, it's unfortunate that (in this case) [Requests](https://2.python-requests.org/en/master/) has named their type with the same name as a built-in type. That being said, there isn't a nice workaround with annotating those imports with `#unimport: skip`, but that introduces a user education barrier that's not obvious to most.

#45 might be similar because it's also related to built-in names.

[2020-06-01 21:43] hakancelik96 commented on #47
Yes, both issues are the same. Okay let's close this issue and solve #45.

I think we should support this issue. I don't like telling people what to do, everybody is free.

[2020-06-02 06:36] hakancelik96 commented on #45
Between the options you have presented, I think, the first option is more appropriate and I sent a PR. Thank you for opening this issue

[2020-06-02 06:40] #47 closed

[2020-06-02 07:09] hakancelik96 commented on #48
**I am writing for newcomers.**

To give flake8-style `# noqa` comments support, you need to add [scan.py#L24](https://github.com/hakancelik96/unimport/blob/master/unimport/scan.py#L24) and then write the test for it in [test_scanner.py#L129](https://github.com/hakancelik96/unimport/blob/master/tests/test_scanner.py#L129)

[2020-06-02 10:31] #45 closed

[2020-06-02 11:19] hakancelik96 commented on #48
@jparise Well I got it, would it be nice to recognize the `# noqa` comment support too? `#unimport:skip` additionally.

[2020-06-02 11:40] hakancelik96 commented on #49
We don't support python 2 and if we support this case especially, we need to support other python 2 cases, but we only support python 3.6 or higher.

[2020-06-02 11:46] hakancelik96 commented on #49
Libcst supports python 3.0 and higher versions. With hard work, we can support maximum python 3.0 and higher.

[2020-06-02 11:59] hakancelik96 commented on #49
or we can use [parso](https://github.com/davidhalter/parso) for refactoring then we will support all python versions.

I don't know exactly and I'm not sure, but I'm researching.

[2020-06-02 13:23] semakaratas opened #51 "set default of permission flag as yes"

[2020-06-02 14:30] #51 closed

[2020-06-02 16:44] jparise commented on #48
I think the existing unimport-specific comment syntax will be sufficient for our code base.

However, there are places where a link will need to be annotated with multiple kinds of comments in order for each tool to ignore it (flake8, unimport, maybe isort), so using a single “ignore this line” comment would still be nice (and `# noqa` would probably be the obvious common choice?).

[2020-06-02 17:07] hakancelik96 commented on #48
Okay I got it, and I did not know the meaning of noqa, I searched [here](https://github.com/PyCQA/pycodestyle/issues/476) and yes it would be much better.

so it will be like the example below.

[code]

[2020-06-03 08:36] isidentical commented on #49
For 3.8+, python can detect/keep type comments inside of AST (see `ast.parse(type_comments=True)` option for details), for versions before that we either have to use typed_ast (which we don't actually need, but definitely better than this) or a little snippet to find used names inside of type comments (don't put this to repo directly, add more cases)

[code]

[2020-06-03 10:39] hakancelik96 commented on #49
As a result of the help of @isidentical, I wrote and tested the code and we can bring this feature only for python3.8.

Because [ast](https://docs.python.org/3.8/library/ast.html#ast.parse) has the type_comments flag only in python 3.8.

If we can find other, new solutions, we can add to other python versions too.

I will send a PR.

[2020-06-03 11:29] #49 closed

[2020-06-03 13:44] #48 closed

[2020-06-03 15:40] jparise commented on #49
I think this sounds a like a good approach. We run our development tools on Python 3 but still support files with Python 2+3 compatibility, so this will work well for us. Thanks!

[2020-06-06 11:42] #42 closed

[2020-06-07 14:45] #25 closed

[2020-06-07 14:45] hakancelik96 opened #58 "Support for type hints"

[2020-06-07 16:50] hakancelik96 commented on #25
Here is the new issue https://github.com/hakancelik96/unimport/issues/58

[2020-06-07 21:26] hakancelik96 opened #59 "Duplicate import inside global and function scopes"
For example, unused import wrong will be detected in the example below.

[code]

After using unimport

[code]

But, It should be expected codes

[code]

### Discussion

Should we solve this problem? I think this is a very rare case, and I think developer who knows python well does not apply for such use.

[2020-06-08 22:37] hakancelik96 commented on #46
I think we should skip such imports. Because if it is controlled with ImportError, we do not know what purpose it is written for.

[2020-06-09 14:38] #46 closed

[2020-06-12 17:14] jparise opened #63 "Consider file-wide skips"
isort has a comment syntax that tells it to skip the entire file: `# isort:skip_file`

It would be nice to support this in unimport via something like `# unimport:skip_file` so we wouldn't have to rely entirely on extending the `exclude` pattern or annotating each `import` line in a file with `# unimport:skip`.

[2020-06-12 22:09] hakancelik96 commented on #63
I examined this configuration of isort.

Isort looks at the pydoc of top of the file. If `# isort:skip_file` exists in pydoc as a string, It skips the file.

### How should we resolve this issue.

There are 4 different matches I found, If there is a match, that file will be skip the file, which match below should we choose.

- `# unimport:skip_file` anywhere in python file as a string.

- `# unimp

[2020-06-13 00:08] jparise commented on #63
I think it should be in a comment at the top of the file, but I wouldn't want it to "fight" with the isort comment, because there are cases where we'd need to specify both.

[2020-06-13 10:33] hakancelik96 commented on #63
Actually there is no need to "fight" with the isort comment, I plan to do it as the example below.

[code]

Top of the file means that before import statements.

Do you think this approach is appropriate?

[2020-06-13 10:35] hakancelik96 commented on #63
Isort uses the following options

# isort: skip_file anywhere in the python file as a string.

and

# isort: skip_file as a comment anywhere in the python file

I think we should use the same approach.

[2020-06-19 02:32] hakancelik96 opened #65 "README - Unimport"
https://unimport.hakancelik.dev/#/

 A linter & formatter for finding & removing unused import statements.

[2020-06-19 02:33] hakancelik96 opened #66 "CONTRIBUTING - Unimport"
https://unimport.hakancelik.dev/#/CONTRIBUTING

 A linter & formatter for finding & removing unused import statements.

[2020-06-19 02:33] hakancelik96 opened #67 "CHANGELOG - Unimport"
https://unimport.hakancelik.dev/#/CHANGELOG

 A linter & formatter for finding & removing unused import statements.

[2020-06-19 02:33] hakancelik96 opened #68 "AUTHORS - Unimport"
https://unimport.hakancelik.dev/#/AUTHORS

 A linter & formatter for finding & removing unused import statements.

[2020-06-19 02:45] hakancelik96 opened #69 "README - Unimport"
http://127.0.0.1:3001/#/

 A linter & formatter for finding & removing unused import statements.

[2020-06-19 03:43] #69 closed

[2020-06-19 15:36] #65 closed

[2020-06-19 15:36] #66 closed

[2020-06-19 15:36] #67 closed

[2020-06-19 15:36] #68 closed

[2020-07-10 13:40] Ksenofanex opened #70 "Lack of docstrings/comments"

[2020-07-20 21:35] #58 closed

[2020-07-21 09:41] isik-kaplan commented on #59
Most of the time when an import used inside a function: it is either used for its side effect *when* you call the function, or it is so that it doesn't shadow any other outside variable(which is not really a good reason if you ask me) as far as I've stumbled upon imports like these.

I honestly wouldn't ever use such a feature since it may potentially break projects inherited -I say inherited as I

[2020-07-21 09:55] hakancelik96 commented on #18
We currently have [two configuration settings](https://unimport.hakancelik.dev/#/?id=configuring-unimport), to include or exclude specified locations. What we want to do with this issue is to read and combine with the include, exclude setting if there is a .gitignore file.

You can do combine these two different configurations, the line starts at [158](https://github.com/hakancelik96/unimport/blob

[2020-07-23 17:02] asottile opened #72 "pre-commit hooks should not set verbose: true"
this is a debugging flag, I'm temporarily removing this from pre-commit.com for now, please fix this and revert this change:  https://github.com/pre-commit/pre-commit.com/commit/3bd42e2731e01d5e44464049c76b341d6e83c5cf

[2020-07-24 01:54] ossareh opened #73 "Question: "Passed" when I'd expect "Failed""
Hi there, we're just starting to use `unimport` via pre-commit. I'm getting the following output:

[code]

This seems confusing to me; I'd expect this to return "Failed" or something and exit uncleanly so that pre-commit (which we're using in CI) would fail.

Here's the pre-commit setup for this check:

[code]

I'm probably misunderstanding something. From the docs I see a few options like rewriti

[2020-07-24 13:08] hakancelik96 commented on #72
Hi, I already fix this issue from the dev branch https://github.com/hakancelik96/unimport/commit/caf33ef31ed0ed60885de78ccb47ad3e7d1aedc7

[2020-07-24 14:11] hakancelik96 commented on #73
Hi, thank you but I think this is not a bug, you don't use any arguments in the **.pre-commit-config.yaml**

If there is unused import in your project, you should use the `-r` parameter to auto-remove them, as a result, if it finds unused import, it will fail.

[code]

If you want to include star imports during refactoring please use `--include-star-import`  flag.

Can you rewrite your **.pre-comm

[2020-07-24 15:00] ossareh commented on #73
Aha, I see now. Thank you for the quick response! 👍

I see I missed this [here](https://pre-commit.com/#creating-new-hooks):

the "or modify files" is subtle and now that I understand that, and re-read `-r` it makes sense.

[2020-07-24 15:00] #73 closed

[2020-07-24 15:29] asottile commented on #72
it needs to be fixed on the default branch, that's what pre-commit.com and pre-commit use

[2020-07-24 15:39] hakancelik96 commented on #72
Okay I will merge it soon.

[2020-07-26 08:41] #11 closed

[2020-07-26 08:42] hakancelik96 commented on #72
I merged

[2020-07-26 08:42] #72 closed

[2020-07-26 08:43] hakancelik96 commented on #63
https://unimport.hakancelik.dev/#/?id=file-wide-skips

[2020-07-26 08:43] #63 closed

[2020-07-27 12:57] askmon opened #78 "Version 0.2.7 disappeared from PyPi"
We just realised the version 0.2.7 disappeared from PyPi , breaking some of our builds. Is there any reason for the removal or was it an accident? (I'm kinda new to the python world so I really don't know if it's a common practice)

Tks!

[2020-07-27 13:02] lacerdaeduardo opened #79 "Support for exit code different of zero when use arg --check"
Currently, when the argument `--check` is used with unimport and it complains about some file, it's actually exiting with code 0 instead of 1. In other words, there are no "errors".

![image](https://user-images.githubusercontent.com/1779871/88544228-737e1e80-cfef-11ea-9cf2-8e07b2253835.png)

So, when I use this in a CI pipeline, I have to implement a workaround like the one below to force it to f

[2020-07-27 19:20] hakancelik96 commented on #78
Hello, thanks for the good question.

I deleted all of the old versions from the PyPI because after I released a new version when I looked at the download rates, I saw that the old versions were still being downloaded ( more than the new version ), I decided to release only the versions I recommend to avoid the use of bad scanning, bad refactoring, and lots of bugs.

The version I recommend now is

[2020-07-27 19:40] isidentical commented on #78
I am so sorry for what happened to you, I am well aware that wasn't the action he actually supposed to do. We won't ever delete the old versions, at worts we will yank them (unsure about that process, if we ever need it or not). Thank you so much for making me aware of this situation.

As I said, please try to update the unimport to the `0.2.8` version and then we'll make sure that versions never

[2020-07-27 19:40] #78 closed

[2020-07-27 19:42] isidentical commented on #79
I vaguely told this to @hakancelik96 back then but we kinda forgot about it, please feel free to send pull requests. Or we'll take care of it in the next version (since it is a really simple thing).

[2020-08-09 19:59] furkanonder commented on #79
I add support for exit code and  some enhancements in __main__.py

[2020-08-10 15:51] #79 closed

[2020-08-29 13:06] hadizakialqattan opened #82 "Unimport removes imported variables!"
**\_\_main\_\_.py** file:
[code]
as you see `__name__` variable has imported and used!

**unimport** behavior:
[code]
unimport mark it as unused!

**Script to check the behavior (Linux):**
[code]

[2020-08-29 15:30] #82 closed

[2020-09-01 16:51] hadizakialqattan opened #84 "Unimport crushes when more than one star import exist on the same file."
**\_\_main\_\_.py** file:
[code]
as you see we have two star imports.

**unimport** behavior:
[code]
as you see `unimport` crushes when I used `--include-star` & `--diff` options!

**Script to check the behavior (Linux):**
[code]

[2020-09-03 14:46] hakancelik96 commented on #84
I fixed this issue, can you try again with the final commit.

[2020-09-04 08:48] hadizakialqattan commented on #84
Good job!

**unimport** new behavior:
[code]

[2020-09-04 08:48] #84 closed

[2020-09-04 09:02] hadizakialqattan opened #85 "Unimport removes '\n' before right parenthesis."
**\_\_import\_\_.py** file:
[code]

**unimport** behavior:
[code]
As you see **unimport** has removed the new lined right parenthesis, I think it should remove only `R_OK` name.

**Script to check the behavior (Linux):**
[code]

[2020-09-05 06:11] #85 closed

[2020-09-06 15:42] hakancelik96 opened #88 "Update Docs [ wrong url addresses]"
There are some misspelled addresses in [CONTRIBUTING](https://github.com/hakancelik96/unimport/blob/master/docs/CONTRIBUTING.md) file.

The AUTHORS.md address should be https://github.com/hakancelik96/unimport/blob/master/docs/AUTHORS.md.

The CHANGELOG.md address should be https://github.com/hakancelik96/unimport/blob/master/docs/CHANGELOG.md

[2020-09-06 16:53] abdulniyaspm commented on #88
@hakancelik96 Just to be clear, we need to remove the broken links [CONTRIBUTING.md](https://github.com/hakancelik96/unimport/blob/master/docs/README.md#contributing) and [CHANGELOG.md ](https://github.com/hakancelik96/unimport/blob/master/docs/README.md#changelog) from the [README](https://github.com/hakancelik96/unimport/blob/master/docs/README.md)?

[2020-09-06 17:18] hakancelik96 commented on #88
I think we should remove them, these are seems unnecessary.

[2020-09-07 18:38] hadizakialqattan commented on #18
Good evening, If this issue hasn't solved yet, please assign it to me, I'm gonna solve it on the weekend.

[2020-09-08 13:19] hadialqattan opened #89 "Low test coverage."
I'm gonna improve test coverage!
Please assign this issue to me!

[2020-09-08 15:55] hakancelik96 commented on #89
Hi, thank you for your interest and work.

It doesn't matter that the coverage ratio is high, It is much more important to make sure that the test of each case is written, please put this more first.

[2020-09-08 16:13] hadizakialqattan commented on #89
In the first place, it's my priority, but it would be great to have %99-100 of code coverage.

[2020-09-08 16:18] hakancelik96 commented on #89
I agree with you

[2020-09-08 16:40] hadialqattan opened #90 "Poor performance."
https://github.com/hakancelik96/unimport/blob/c70fbcfe6c232b07a65b3ec8efa17e6039e60f33/unimport/scan.py#L192-L204

This function iterates over the whole comments, while there is a param `type_comments` that can be passed to `ast.parse` in order to get function/assign type comment efficiently!

If you agree with me please assign this issue to me, if not please tell me why or/and close this issue!

[2020-09-09 10:36] hakancelik96 commented on #90
`type_comments` only available python3.8 and higher

[2020-09-09 11:43] hakancelik96 commented on #90
Hi, Yes I agree with you and I did an experiment, all tests worked, I leave you diff, it can help you with the PR you will open.
Thank you for noticing and reporting this issue, I look forward to your PR, impatiently.

[code]

[2020-09-09 12:54] hadizakialqattan commented on #90
Your experiment is very useful, Thanks!

[2020-09-09 14:42] abdulniyaspm commented on #88
So that idea is to remove [CONTRIBUTING](https://unimport.hakancelik.dev/#/?id=contributing) and [CHANGELOG](https://unimport.hakancelik.dev/#/?id=changelog) as we already have separate tabs for [CONTRIBUTING](https://unimport.hakancelik.dev/#/CONTRIBUTING) and [CHANGELOG](https://unimport.hakancelik.dev/#/CHANGELOG)?

[2020-09-09 18:38] hakancelik96 commented on #88
Yes, but It must be fixed [CONTRIBUTING.md](https://github.com/hakancelik96/unimport/blob/master/docs/CONTRIBUTING.md) file too. please read the issue again, I  updated.

[2020-09-10 11:48] hadialqattan commented on #89
https://github.com/hakancelik96/unimport/blob/098eb5f3da3ca3213c546e9806806d33b384fbf1/unimport/refactor.py#L135

I'm wondering why this line exists!
I can't figure out in which case this line may be executed!

[2020-09-10 13:47] hadialqattan commented on #88
I'll solve this issue!

[2020-09-10 15:33] hadialqattan opened #97 "Deprecated regex escape sequence `\s`."
Hi, these regex escape sequence `\s` has deprecated.
https://github.com/hakancelik96/unimport/blob/098eb5f3da3ca3213c546e9806806d33b384fbf1/unimport/scan.py#L50-L51

[2020-09-10 15:43] hadialqattan commented on #18
Fixed: #94

[2020-09-10 15:44] hadialqattan commented on #88
Fixed: #96

[2020-09-10 15:45] hadialqattan commented on #89
Fixed: #93

[2020-09-10 15:46] hadialqattan commented on #90
Fixed: #95

[2020-09-10 15:46] hadialqattan commented on #97
Fixed: #98

[2020-09-11 14:37] #88 closed

[2020-09-11 20:32] #97 closed

[2020-09-12 06:04] abdulniyaspm commented on #88
@hadialqattan This will fix the broken links in the  CONTRIBUTING.md  file but introduce 404 Error in CHANGELOG.md and AUTHORS.md links the [Docs](https://unimport.hakancelik.dev/#/CONTRIBUTING?id=the-final-step). I am not sure which file should we update to fix this issue.

[2020-09-12 09:12] hadialqattan commented on #88
@abdulniyaspm You're right!
@hakancelik96 I'm sorry about that, I'm gonna reopen the PR!

[2020-09-12 09:36] hakancelik96 opened #100 "[BUG] - Remove comment and white space lines"
## Code

[code]

## Expected situation

[code]

## Actual situation

[code]

[2020-09-12 10:07] #90 closed

[2020-09-12 10:07] hadialqattan commented on #90
Merged: #95

[2020-09-13 11:21] hakancelik96 commented on #89
I guess I wrote that if the get_star_imp function returns None, leave_ImportFrom function returns original_node, but now I have examined it, there is no such possibility, so it was an unnecessary line. Because we take all-star imports as unused imports and then offer a suggestion object instead of a star.

[2020-09-13 11:57] hadialqattan commented on #89
So, I'm gonna remove this line, then I think it's a good time to review the PR (#93 )

[2020-09-13 12:51] #89 closed

[2020-09-14 14:22] hadialqattan commented on #18
New PR ~> #102 .

[2020-09-14 16:27] hadialqattan commented on #100
I did some code debugging, I ended with a bug on `LibCST.RemoveFromParent()` function!

[code]
Output:
[code]

[2020-09-14 16:29] hadialqattan commented on #100
If that's the case, I'm gonna open an issue on the `LibCST` repo.

[2020-09-14 17:40] hakancelik96 commented on #100
Yes I think the issue need to open.

[2020-09-14 19:04] hadialqattan commented on #100
Please take a look at [Instagram/LibCST#390](https://github.com/Instagram/LibCST/issues/390)

[2020-09-14 19:06] hadialqattan commented on #100
I think we should implement a method that preserves node's comment/empty-line from removal!

[2020-09-14 19:09] Pierre-Sassoulas opened #103 "Crash when using on pylint's functional test"
Hello, thank you for this projet, I was trying to add it to pylint's codebase. I encountered a crash on the following code snipper (at least I think so):

[code]
Result:
[code]

If this can't be reproduced with the snippet, you can probably reproduce with `pre-commit install;pre-commit run --all-files` on this branch : https://github.com/Pierre-Sassoulas/pylint/tree/add-unimport-to-pre-commit-conf

[2020-09-14 19:10] hadialqattan commented on #100
I think it's not a complicated task!
Please assign this issue to me, if you want!

[2020-09-14 19:18] #18 closed

[2020-09-14 20:30] mwichmann opened #104 "diff option should produce a usable patch"
Enhancement request: currently, it makes a pretty display, but if redirected to a file, the "syntax highlighting" makes it unusuable as a patch file: e.g.
[code]

A common convention is to not emit the highlighting if the output does not appear to be a terminal, another approach might be a flag to generate a patchfile (or files - possibly one-per-modified file) instead of a diff for display.

[2020-09-14 20:34] isidentical commented on #104
Absolutely! This is a real issue. Guess we need an extra test if the given diff is appliable or not to verify all future aspects of this feature! I never dealt with the diff feature, but I could say that it shouldn't produce colors at all. There are command-line tools that would highlight any type of the input you are redirecting them (diff is one of that formats), I don't see a value on highlight

[2020-09-14 20:50] hakancelik96 commented on #103
@hadialqattan The `get_star_imp` function does not always return a result, this error is caused by the line we deleted recently.

We just must have missed writing the test for this case.

[2020-09-15 06:37] hakancelik96 commented on #104
There is such a problem on Windows, the colors do not appear correctly. We will solve this problem.

[2020-09-15 08:29] hadialqattan commented on #103
I'm sorry about that!

[2020-09-15 08:57] #103 closed

[2020-09-15 09:17] hakancelik96 commented on #103
@Pierre-Sassoulas Hello, it's an honor for me. Thank you for opening this issue, thanks to you, I found a difficult case to find and fixed it. I've done some tests for Pylint and haven't seen any other issues.

[2020-09-15 10:11] Pierre-Sassoulas commented on #103
Haha, yeah I'm not surprised, pylint's functional tests are full of dysfunctional code example ;) Thank you for pre-screening on pylint !

[2020-09-15 11:00] Pierre-Sassoulas opened #106 "No change in treated files with no functional changes"
I don't know if the title is super clear, but in pylint the file `/tests/functional/a/abstract_abc_methods.py` is changed entirely after running unimport on it. The `git diff` is then the whole file and there is no change with `git diff --word-diff`.

Maybe the end of line are changed to something else ? Or the encoding is changed?

It's testable by doing `pre-commit install;pre-commit run unimpor

[2020-09-16 07:47] hakancelik96 commented on #106
Thanks, I fixed it

[2020-09-16 07:55] #106 closed

[2020-09-18 06:40] hadialqattan commented on #104
I think we should use a third party module that can handle the Windows coloring system!

Some suggested modules:
https://github.com/willmcgugan/rich
https://github.com/tartley/colorama

[2020-09-18 06:42] hadialqattan commented on #104
I think we should include WindowsOS on our CI test suite.

[2020-09-19 16:38] isidentical opened #109 "remove the codecov extension"
It didn't bring any good except just blocking all PRs, remove it completely

[2020-09-20 02:35] hakancelik96 commented on #104
@hadialqattan  I agree with you, I tried to add windows OS to the CI test suite but failed, I would be very grateful if anyone added it.

[2020-09-20 13:32] hakancelik96 commented on #109
This plugin plays an important role in our development of tests so it will not be removed.

[2020-09-20 13:32] #109 closed

[2020-09-20 14:51] hadialqattan commented on #104
That's because Unimport isn't compatible with the WindowsOS.
Actually, Unimport doesn't support the WindowsOS char encoding system!

I did an experiment, and here are the raw log (cropped):
[code]
As you see all we have is `UnicodeEncodeError`s!

[2020-09-20 14:54] hadialqattan opened #110 "Adding WindowsOS to the CI pipeline."
#104 related issue, please assign this to me, these days I've no time, but soon I'll!

[2020-09-20 15:10] hakancelik96 commented on #110
Thanks for your good work.

[2020-09-20 15:12] hadialqattan commented on #110
My pleasure, better together!

[2020-09-21 06:55] hakancelik96 commented on #104
@hadialqattan You can solve Windows problems then you can add windows configuring to [test.yaml](https://github.com/hakancelik96/unimport/blob/master/.github/workflows/test.yml). file and send a PR.

And finally, we support windows in the new version.

[2020-09-23 09:57] hakancelik96 commented on #104
Do you want to solve this issue, I can assign to you @hadialqattan

[2020-09-23 10:47] hadialqattan commented on #104
This issue will be closed when I solve this issue ~> #110

[2020-09-25 12:00] hakancelik96 commented on #104
Instead of using 3rd party lib to run the color feature in windows, we can do it like [colorama](https://github.com/tartley/colorama) and [Pre-commit](https://github.com/pre-commit/pre-commit), I leave the addresses for your review.

https://github.com/pre-commit/pre-commit/blob/master/pre_commit/color.py

https://github.com/tartley/colorama/blob/master/colorama/win32.py

[2020-09-26 14:17] #104 closed

[2020-09-26 14:17] #110 closed

[2020-09-29 12:11] isik-kaplan opened #120 "unimport doesn't remove previous imports when there is an assignment with the imported module's name"
For the snippet below, unimport doesn't remove the first import, but it is not used.
[code]

I think it might be that, unimport thinks the assignment below is a usage for the `datetime` variable, while it is not.

Running unimport on the code produces
[code]

[2020-09-29 13:18] isik-kaplan opened #121 "Multiple star imports with clashing names"
[code]

Unimport works fine when it comes to finding the correct import module for the variables, but this doesn't help when it comes to clashing names.

The problem can be avoided by running unimport twice with the -r flag, allowing it to turn the above into

[code]
and then running again to remove the first unused import, but I think it should be able to do it in a single run without needing to

[2020-09-29 13:51] isik-kaplan opened #123 "Exclude and include flags do not have documentation."
Even though the documentation mentions these flags, they are not explained.

[2020-09-29 17:56] The-Compiler opened #126 "Imports used in strings passed to typing functions"
With something like:

[code]

unimport thinks those imports are unused despite that not being the case. They're imported like this because they might be unavailable at runtime (only one of both is required for the application).

The same thing also happens in other places `typing` can take a type annotation as string, such as `typing.cast`, `typing.Callable` and probably more.

[2020-09-29 18:24] The-Compiler opened #127 "Dealing with implicit imports from sub-packages"
With:

[code]

unimport will remove the import, thus breaking the code. Instead, it should probably recognize that the `os` package is still used and adjust the import accordingly.

It might be somewhat obvious in this case - in my case, I imported `importlib.abc` accidentally but used e.g. `importlib.import_module`. When reviewing the diff for issues, I confirmed that `importlib.abc` is indeed un

[2020-09-29 19:13] hakancelik96 commented on #126
Oh yeah, we didn't even think about creating new types like this. We support type comment, variable annotation, and type annotation as string but this is new.  I'm gonna try to add this as soon as I can. Thanks!

[2020-09-29 19:36] The-Compiler commented on #126
As another example: `some_value = typing.cast('QWebHistory', None)` would lead to the same issue.

[2020-10-01 04:31] shivam-S-bisht commented on #121
You can use alias to the same name imports like
`from collections import defaultdict as coll_dd`
`from _collections import defaultdict as _coll_dd`

[2020-10-02 08:27] #126 closed

[2020-10-02 21:58] jparise opened #132 "Multiline imports, `# unimport:skip` comments, and isort formatting"
`isort` (version 5.5.4) wants to relocate the `# unimport:skip` comments to a place where `unimport` doesn't recognize them.

### Before isort (works)

[code]

### After isort (doesn't work)

[code]

I'm starting with this project to ask if it's possible for `unimport` to recognize comments in this alternate formatting layout.

[2020-10-03 10:30] hakancelik96 commented on #132
Nodes from ast in py3.6 and py37 do not have col_offset, end_lineno, end_col_offset attributes, so it does not seem possible, but it seems possible thanks to the [get_source_segment](https://github.com/python/cpython/blob/3.8/Lib/ast.py#L2989) function and these attributes in py3.8.

I will send a PR

[2020-10-03 11:43] hakancelik96 commented on #132
No, my fault. I forgot that AST was ignoring whitespace and comment I couldn't find any result, I'll keep trying.

[2020-10-04 14:04] MarcoGorelli opened #134 "Unimport removes comment"
If I make a file `mcve.py` with the content
[code]

and then run

[code]

then the file becomes:

[code]

I was expecting it to become
[code]

[2020-10-04 21:12] hakancelik96 commented on #134
This issue already exists here #100

[2020-10-05 07:44] MarcoGorelli commented on #134
thanks, closing then

[2020-10-05 07:44] #134 closed

[2020-10-05 16:58] Meghana-12 commented on #70
Can I work on this?

[2020-10-05 18:18] hakancelik96 commented on #70
Of course, But this is not an easy issue, it is necessary to understand why functions and modules are written and their purpose.

[2020-10-06 13:48] hadialqattan opened #135 "Support Python3.9 officially."
Hi, @hakancelik96, I think it's a good time to support Python3.9 officially.
Please see: https://www.python.org/downloads/release/python-390/

If you agree with me, please assign this issue to me. Have a nice day!

[2020-10-06 13:52] hadialqattan commented on #135
@hakancelik96
What about [PEP 617 -- New PEG parser for CPython](https://www.python.org/dev/peps/pep-0617/) and LibCST?

[2020-10-06 14:13] hadialqattan commented on #135
@hakancelik96 We have no problem with Python3.9, but we do have with Python3.10!

https://www.python.org/dev/peps/pep-0617/#migration-plan

[2020-10-07 07:39] hakancelik96 commented on #135
Libcst now supports 3.6, 3.7, 3.8 versions, we need to write our own refactoring code (I'm working on it now) Also did you look at this issue #26.

[2020-10-07 13:59] hadialqattan commented on #135
Oh, yeah.

[2020-10-07 13:59] #135 closed

[2020-10-07 14:01] hadialqattan commented on #135
BWT, I think #100 should be closed when you wrote your new refactoring method!

[2020-10-07 19:11] #127 closed

[2020-10-09 17:24] #132 closed

[2020-10-10 17:06] hadialqattan opened #140 "Performance issue."
Using a Python list isn't the best data structure for this use case:
https://github.com/hakancelik96/unimport/blob/ee99aeb2d5e80cfa4c04008b2cd6ff2fe2fa5b96/unimport/constants.py#L11

The time complexity big O notation of `in` on lists is `O(n)` while it is `O(1)` on sets!
https://github.com/hakancelik96/unimport/blob/ee99aeb2d5e80cfa4c04008b2cd6ff2fe2fa5b96/unimport/scan.py#L212

Also, here we don

[2020-10-10 20:27] #140 closed

[2020-10-14 13:55] hadialqattan opened #144 "[BUG] normal import use case is considered as unused (only on master branch)."
/`lab.py`:
[code]

---
[code]
[code]

---
*Note: this bug doesn't affect the current version, only the master one!*

[2020-10-14 18:06] hakancelik96 commented on #144
[This is the line](https://github.com/hakancelik96/unimport/commit/b8bff1650e638913e91b99b9edc1c3cd142e4e5b#diff-4bcf6eec194e45ef0621a4c1183ba42878193e8529cac8edbbe17d4dd172f986R143) that caused the issue, I would appreciate it if you want to work on this issue, If you don't want it, I will.

[2020-10-14 18:42] hadialqattan commented on #144
I'm gonna try as soon as I have time for that, and please don't forget to not release until we fix this!

[2020-10-15 13:38] hadialqattan commented on #144
@hakancelik96 I'm sorry to say that, but unfortunately, I've no time for that, so I'm gonna unassign myself.

*I apologize for the delay and withdrawal.*

[2020-10-15 13:42] hadialqattan commented on #144
I'm afraid to disrupt the workflow.

[2020-10-15 17:52] hakancelik96 commented on #144
Okey no problem

[2020-10-24 12:03] #144 closed

[2020-11-11 17:42] jgillard opened #146 "Bug where noqa or unimport:skip is ignored"
I've found an issue with `# noqa` and `# unimport:skip` handling with `v0.6.6`. I don't get this issue with `v0.3.0`.

The snippet below works as expected:

[code]

[code]

As soon as a newline is introduced between those two imports then the diff changes incorrectly:

[code]

[code]

[2020-11-12 21:17] hakancelik96 commented on #146
Hi, thank you!

This bug only exists in python3.8, I'll fix it soon.

[2020-11-12 21:46] #146 closed

[2020-11-27 10:50] apelliciari opened #148 "AttributeError: 'NoneType' object has no attribute 'startswith'"
Hi,

very interesting project!

I have this issue running it on my codebase (Python 3.8.5 + Django 3.0.3):

![image](https://user-images.githubusercontent.com/1625969/100441423-ba1b7c80-30a6-11eb-9e6c-6fff733b4401.png)

how can I provide you more information about it so you can tell me how to fix it? I didn't found a verbose option

Thanks

[2020-11-27 21:52] hakancelik96 commented on #148
Hi thank you.
It has already been solved by @isik-kaplan, I will examine and merge it.

[2020-11-28 10:40] apelliciari commented on #148
Cool, thanks!!

[2020-12-02 10:54] #148 closed

[2020-12-02 12:13] isik-kaplan commented on #121
Since we can simply "fix" the end-users' issue by running `unimport` twice should we maybe simply run it twice? Maybe with something like `--fix-star-collisions`. Sometimes the best solution is the easiest solution.

[2020-12-07 14:23] jgillard opened #150 "Performance regression"
Now that #147 has been released I tried upgrading from 0.3.0 to 0.6.8. I noticed that it was running slower so I did a few timed runs on the latest 3 versions. I installed each version from pip, and ran the command `time unimport apps` for each 3 times.

Release 0.3.0: 2.80 secs, 2.53 secs, 2.82 secs. **Avg: 2.72 secs**.
Release 0.6.6: 4.24 secs, 4.20 secs, 4.40 secs. **Avg: 4.28 secs (+57%)**.
Re

[2020-12-07 14:52] isik-kaplan opened #151 "seed-isort-config deprecated"
It seems like the hook is deprecated and is not needed for `isort>=5`.  We can safely remove it since we use `5.5.3`.

[2020-12-07 15:17] isidentical commented on #150
One thing that I noticed while catching up on the new patches (was away for a while) is the usage of `ast.get_source_segment` in every import statement;
https://github.com/hakancelik96/unimport/blob/abc766a40a62173415884fe5c81b6503257f67d4/unimport/scan.py#L296-L301
(for checking out whether it is ignored or not).

The function itself, is alright, just a bunch of checks and slicing. But the real p

[2020-12-07 15:19] isidentical commented on #150
Also, there are many more 'nit' points that can be concluded by looking at the profiler output but just doing this would be one of the best start, IMHO.

[2020-12-07 15:21] isik-kaplan commented on #150
What's the reason behind the capital "not advised"? Is it the prior suggestion?

[2020-12-07 15:23] isidentical commented on #150
No, just putting a `lru_cache()` to an internal function at top of the file, isn't the real way of doing this (even though it boosts the performance %100+ly). That is why I clearly stated the intention of the code that I pasted there, but the real way of doing this is explained in my previous message (type_ignores-like-system, ahead-of-time)

[2020-12-07 15:30] #151 closed

[2020-12-07 15:30] isik-kaplan commented on #150
I meant prior as in, by order; not by importance. So your suggestion is this(right?):

I'm not really experienced when it comes to static analysis, so just wanted to learn your reasoning. Thanks.

[2020-12-07 15:39] isik-kaplan commented on #121
In the light of #150 my previous suggestion is no longer(maybe wasn't ever) plausible. So, scratch that.

[2020-12-07 15:43] hakancelik96 commented on #121
This is a bug and needs to be solved without giving the user a choice and avoid running it twice for performance reasons.

[2020-12-07 15:51] hakancelik96 commented on #150
Thank you, I'll be working over the weekend on this issue.

[2020-12-09 07:19] #59 closed

[2020-12-13 18:21] isik-kaplan commented on #120
Just a heads up, if you commit with github's syntax, AKA `Fixes #120` github automatically closes the issue. Also, thanks!

[2020-12-13 18:26] hakancelik96 commented on #120
The PR has not closed yet, so please don't close the issue.

[2020-12-17 00:32] #150 closed

[2020-12-18 12:11] isidentical opened #156 "Codecov check random fails"
It really looks weird, and from an outsider's perspective seeing the latest commit to the repo as "FAILED" isn't that great. I have never seen any case where Codecov helped us in anything, so let's just remove it and use coverage locally!

[2020-12-26 18:58] #123 closed

[2021-01-19 14:43] isik-kaplan opened #163 "Does it work with python2?"
Haven't actually tried yet, I assume it may work for most of python2 but just wanted to ask if you support py2 officially.

I'm not asking whether if it runs with py2, rather I'm asking if it can reformat py2 code like black does. Thanks.

[2021-01-28 21:29] miketheman opened #165 "Python 3 f string usage provides false positive"
Example `foo.py`:

[code]

[code]

`os` is currently in use, but isn't being identified as so.

[2021-01-29 23:42] furkanonder commented on #165
Hi @miketheman,
I think this problem existed in older versions. In Unimport's version 0.7.1, there are no warnings for `foo.py`.

[2021-01-30 00:41] miketheman commented on #165
Hi @furkanonder !
Thanks for checking.

I tried to make sure I was using the most recent version:

[code]

[2021-01-30 00:48] furkanonder commented on #165
[code]

[2021-01-30 00:50] furkanonder commented on #165
Hmm. Maybe related with the python version. My python version is 3.9.1.
[code]

[2021-01-30 00:51] miketheman commented on #165
Interesting! Would you mind if I tried to create a test case that reproduces this, and see if the tox test suite can confirm?

[2021-01-30 05:12] miketheman commented on #165
Looks like an existing test case already exposes the f string use case:
https://github.com/hakancelik96/unimport/blob/c9bd5de99bd8a5239d3dee2c3ff633979bb3ead2/tests/test_refactor.py#L169-L180

And I was able to reproduce this specifically on python 3.6.2, but then on 3.6.3 everything works fine.

Thanks for checking, and sorry to bother!

[2021-01-30 05:12] #165 closed

[2021-01-30 23:14] hakancelik96 commented on #156
https://github.com/hakancelik96/unimport/commit/a11db72e724a9c47e5f99bbd7e04d44a6e319c6d#diff-2b2bda0c32d4aa698c35a605120c7745c3433d4ad4210996bfc7f32e9fe9f078R7

[2021-01-30 23:14] #156 closed

[2021-01-31 01:34] isik-kaplan commented on #163
I'll go ahead and close the issue since you marked it as wontfix, then.

[2021-01-31 01:34] #163 closed

[2021-02-06 06:22] isik-kaplan opened #168 "Incorrect results on bigger projects"
Hello! I'm trying to use unimport with couple of both my-personal projects and some work related products we have in-house. (Actually, more than a couple, both day-job and customers whom I do consultancy have their own codebases).

For my personal projects it seems to work real well, but whenever I'm trying to introduce the unimport to bigger codebases than mine, it just halts the project, half of

[2021-02-07 11:01] hakancelik96 commented on #168
There are currently two known Unimport cases that do not have support yet.

for example.

[code]
[code]

Unimport detects these two situations wrong because
1. If, elif, else statement analysis isn't done in Unimport yet.
2. Scope analysis isn't done in Unimport yet.

If you have these situations in your codebase, we recommend using ` # unimport: skip` or ` # unimport: skip_file ` comment and if y

[2021-02-07 17:14] isik-kaplan commented on #168
Can you link the issue if it is somewhere public? Thanks!

[2021-02-08 14:09] #168 closed

[2021-03-01 15:14] tolomea opened #175 "Incorrect behaviour with bad import inside function"
So I had some code that essentially looked like this

    import bob

    def func():
        import bob
        bob.fred(1)

    def other_func():
        bob.fred(2)

Which is not good, but is valid.

I ran the stable version with `--remove --include-star-import --ignore-init --gitignore` and it removed the top level import, which left the code in an invalid state as now `bob` is not imported at

[2021-03-01 15:18] adamchainz opened #176 "Misses that names are used in type hints"
I had a module that used an import only for a type hint, like:

[code]

And the import of `User` got removed by `unimport`. This makes both mypy and flake8 unhappy.

[2021-03-01 15:36] tolomea opened #177 "Emoji in print causes an exception on non utf terminals"
This line https://github.com/unimport/unimport/blob/27f421d5f83dee28d7c996db76573ffef8e782cf/unimport/main.py#L196 lead to this error:

[code]

[2021-03-02 17:38] isidentical commented on #176
Hey @adamchainz, can you share the exact python version you have with me? I tried to test it on 3.8+ and it seems to work
[code]

[2021-03-02 17:39] isidentical commented on #177
I intend to remove these emojis, and maybe even colours. Since they are too problematic for CLI applications. What do you think @hakancelik96?

[2021-03-02 17:39] isidentical commented on #175
This shouldn't have happened, will take a look. Thanks for the report @tolomea!

[2021-03-02 17:54] adamchainz commented on #176
Sorry, I shrunk the example incorrectly. Here's an actual example triggering the bug:

[code]

It seems the inner import is incorrectly interpreted as applying to the outer context. Maybe a duplicate of #175.

[2021-03-02 17:55] isidentical commented on #176
Yep, it seems really similar to #175. I'll try to look into both of these issues in the weekend, thanks for also letting us know!

[2021-03-02 18:09] adamchainz commented on #176
Thanks for a useful tool, and having pre-commit ready to go.

[2021-03-05 07:32] hakancelik96 commented on #177
I think we may remove it, they seem to be causing more problems than problem-solving.

[2021-03-10 12:03] tolomea opened #178 "Import after use gets removed"
With 0.7.4 and --remove --include-star-import --ignore-init --gitignore

In code like this

    def bob():
        print(sys.path)

    import sys

The import gets incorrectly removed.

You might reasonably ask why I even had code like this, in larger files my work flow is to just drop imports in the nearest bit of module level scope and let unimport and isort clean it up.

[2021-03-10 16:03] isidentical commented on #176
@adamchainz I've just release 0.8.0 which disabled our current system for duplicate import elimination. We'll probably reintroduce it in the 1.0.0 rewrite (the codebase was in an ad-hoc shape, so we decided to rewrite all the major components with knowing the current requirements). Hopefully we will pull it off and it will offer a proper duplicate import elimination system. Thanks for your report!

[2021-03-10 16:03] #176 closed

[2021-03-10 16:04] isidentical commented on #175
@tolomea I've just release 0.8.0 which disabled our current system for duplicate import elimination. We'll probably reintroduce it in the 1.0.0 rewrite (the codebase was in an ad-hoc shape, so we decided to rewrite all the major components with knowing the current requirements). Hopefully we will pull it off and it will offer a proper duplicate import elimination system. Thanks for your report! Pl

[2021-03-10 16:04] #175 closed

[2021-03-10 22:26] adamchainz commented on #176
Ok great, thanks for the update, I will try unimport again 👍

[2021-04-03 11:00] hakancelik96 commented on #178
Unimport is currently using primary analysis methods, this problem will be solved if scope analysis is added.

[2021-04-23 12:09] cb109 opened #180 "Use of implicitly imported module namespace not considered correctly"
## Problem

An import like `module.submodule` is removed when `module.submodule` is not used 1:1. However, we may use `module.other_submodule` in the file, which then becomes invalid and as such our codebase is broken.

## Example

[code]

The `urllib.parse.urlparse(url)`  works here (somewhat surprisingly), because `import urllib.request` implicitly imports `urllib`, allowing us to access `urllib

[2021-04-23 12:36] cb109 commented on #180
Okay I am a bit confused since this seems to have been mentioned before in https://github.com/hakancelik96/unimport/issues/127 and should have been fixed in v0.7.1, but I am still experiencing this on v0.8.3 right now.

[2021-04-24 17:18] hakancelik96 commented on #180
Hello, thank you for reporting this issue. You don't need to get confused because this seems like our fault, I'll fix it soon.

I also plan to add a feature like this

In this way, we will prevent cases such as code-breaking.

[2021-04-28 14:56] Trim21 opened #183 "LF is converted to CRLF on windows"

[2021-05-08 15:57] hakancelik96 commented on #177
Hi @tolomea, I worked a little on this issue but I was not sure the issue was solved, can you install it on your system with the master branch and try again, if you get the same error please let me know what caused it.

[2021-08-08 18:33] hakancelik96 commented on #183
Could you give more details? I don't understand anything.

[2021-08-13 02:15] CAM-Gerlach commented on #183
@hakancelik96 Was about to report this myself. Unimport does not respect the EOL of the passed in files, and instead arbitrarily converts any modified source files to whatever convention the particular platform it is running on uses. I'm not aware of a case where that would be the desirable behavior, whereas many projects standardize on one newline convention (typically `\n`) for all source files,

[2021-08-13 02:34] CAM-Gerlach opened #190 "Spurious blank line added after last item in `from` import lists whenever files are modified"
Whenever Unimport modifies a file using `--remove`, it adds spurious blank lines after the last item in a list of `from` imports and before the parenthesis, even if the actual import modified was nowhere near there. There doesn't appear to be an obvious reason for this and it conflicts with every style guide I know of, particularly black which uses this style for from imports.

I'm not sure if thi

[2021-09-04 22:28] hakancelik96 commented on #183
You caught it very well, congratulations. It was a subject that I did not know, I learned it thanks to you. I would certainly be very pleased, if you could solve the problem you found yourself by PR. and I think your first approach would be more appropriate.

[2021-09-04 23:23] hakancelik96 commented on #190
Thank you for reporting the issue.

[2021-09-04 23:26] #190 closed

[2021-09-06 07:33] CAM-Gerlach commented on #190
Thanks @hakancelik96 !

[2021-09-06 08:20] CAM-Gerlach commented on #190
@hakancelik96 FYI, your changelog entries for this change are not rendering correctly [in your docs](https://unimport.hakancelik.dev/changelog/). Evidently, unlike the GitHub GFM parser, the Mkdocs Markdown parser seems it does not support the nested bullets you are using nor code blocks within bullets, which makes your entries that look fine on GitHub (where they aren't readily discoverable, due

[2021-09-06 08:22] CAM-Gerlach commented on #183
@hakancelik96 Okay, thanks; in work. While the change itself is fairly straightforward, I'll admit I'm not terribly familiar with the conventions of the legacy `unittest`, as I've only really worked with Pytest at least on serious projects, but I'll give it a shot. I'm also not sure whether and/or how you want a changelog entry to be done, given your changelog's non-standard format, so any guidanc

[2021-09-06 12:34] WouldYouKindly opened #194 "Don't depend on exact versions of dependencies"
Hi.

Because `unimport` requires pathspec==0.8.1, it cannot be installed alongside the latest `black`, which requires patchspec>=0.9. The same applies to all other dependencies, e.g., I would like to update to `typing-extensions 3.10.0.2`, but I cannot cause `unimport` wants exactly `3.10.0.0`.

Could you please allow a broader range of versions in setup.py? This is actually a standard practice fo

[2021-09-09 21:09] hakancelik96 commented on #190
@CAM-Gerlach Thanks for letting me know, I fixed the problem.

[2021-09-09 21:15] #183 closed

[2021-09-09 21:21] CAM-Gerlach commented on #190
Thanks! I can confirm it is indeed fixed.

[2021-09-12 21:54] hakancelik96 commented on #194
Hi,

Thank you for reporting the issue.

[2021-09-12 21:56] #194 closed

[2021-09-13 09:43] WouldYouKindly opened #196 "Unimport 0.9.1 is broken"
Hello!

I've just updated to 0.9.1 and got this error
[code]

Reproduced in a fresh venv, Python 3.9.1

[2021-09-13 16:47] drewbrew commented on #196
Replicated on 3.6.8 here

[2021-09-13 17:24] drewbrew commented on #196
It looks like the flaw is in the packaging, not the code itself:

[code]

The `unimport` package is missing from the tarball on PyPI.

Compare that to the contents of 0.9.0's tarball (17 kB vs 3.5 kB):

[code]

[2021-09-14 09:31] hakancelik96 commented on #196
It seems that there are some issues that I missed in the setup file.

https://github.com/hakancelik96/unimport/commit/5ccac669b933ec1ae11badb6a848e0da7876e79b

[2021-09-14 09:33] hakancelik96 commented on #196
https://pypi.org/project/unimport/0.9.2/

[2021-09-14 11:43] drewbrew commented on #196
Confirmed, 0.9.2 works for me.

Thanks so much!

[2021-09-15 07:13] hakancelik96 commented on #196
You are welcome

[2021-09-15 07:13] #196 closed

[2021-09-15 10:39] WouldYouKindly commented on #196
@hakancelik96 Thank you very much.

By the way, there is a trick to avoid this situation: put your project under `/src`: https://blog.ionelmc.ro/2014/05/25/python-packaging/#the-structure. `attrs` is a great example: https://github.com/python-attrs/attrs/tree/main/src/attr. It's author, Hynek, also has a blog post on advantages of /src approach.

[2021-10-27 17:10] pzelnip opened #199 "Option to suppress colourized output"
By default unimport will emit ascii colour codes in output, it'd be nice to have a way to suppress this.  I realize there's a check to see if the terminal supports colourized output, but there are also times when you want to explicitly suppress the colourization so that (as an example) you can locally redirect the output to a file and process that file via another script.

[2022-01-12 23:40] pzelnip opened #202 "Can't install in Docker container"
This seemed to have started today, when installing unimport in a Linux-based Docker container, unimport fails to install.

Can reproduce with:

[code]

Output of that is:

[code]

[2022-01-13 08:16] hakancelik96 commented on #202
Thanks for the problem, I will fix this problem.

[2022-01-29 14:03] hakancelik96 commented on #202
Hi, Can you try this image -> `docker pull ghcr.io/hakancelik96/unimport:latest`

Does this image solve your issue?

[2022-01-29 14:03] hakancelik96 commented on #202
https://github.com/hakancelik96/unimport/pkgs/container/unimport

[2022-01-29 14:09] hakancelik96 commented on #199
Yes good point, I will work on that.

[2022-01-29 16:51] pzelnip commented on #202
Works perfect, thank you so much!

[2022-01-29 16:55] hakancelik96 commented on #202
You are welcome.

Related commit; https://github.com/hakancelik96/unimport/commit/ecfcb4e95563c9f5bef5192c812e9ab01019db54

[2022-01-29 16:55] #202 closed

[2022-01-29 20:25] hakancelik96 commented on #199
Hi, can you try the version of 0.9.4?

check it out -> https://unimport.hakancelik.dev/#color

[2022-01-31 20:49] pzelnip commented on #199
Works perfectly, thanks very much!

[2022-01-31 21:26] hakancelik96 commented on #199
You are welcome!

[2022-01-31 21:26] #199 closed

[2022-03-10 09:23] kasium opened #209 "pyproject.toml usage doesn't work"
I use the following commands and files

[code]

[code]

However, unused imports are not removed and paths I configured are not excluded. I guess this is related to
`config = config.merge(**vars(args))`, because the default config has already values for exclude and remove and these overwrite my configured ones.

[2022-03-15 22:06] ajyoon opened #211 "Exit code 1 on fixing imports interferes with scripts"
I'm setting up `unimport` in a git pre-commit hook, and I was surprised to see that when `unimport` finds errors it can fix, it exits with code 1 instead of 0. This is problematic when running within a bash script that bails on error codes, for instance:

[code]

If this is set as a pre-commit hook, commits will fail when fixable imports are found because the exit code 1 is interpreted as an error

[2022-03-17 06:31] hakancelik96 commented on #209
What is the path of the pyproject.toml config file?

The --config parameter takes a path. https://unimport.hakancelik.dev/#config

Are you sure you gave the path?

[2022-03-17 06:49] kasium commented on #209
I executed it in the main directory where the pyproject.toml is stored. I also set a breakpoint and could see that the TOML is loaded

[2022-03-19 18:55] hakancelik96 commented on #209
Okey, seem like a bug, I will work on it.

[2022-03-20 17:59] hakancelikdev opened #212 "Logging"

[2022-03-29 12:43] kielosz commented on #209
I can confirm that we are facing the same issue. We needed to add an explicit `--exclude` flag to our CLI command, because an exclude param is not taken from the pyproject.toml file.

[2022-05-04 09:36] ToGoBananas commented on #26
up

[2022-05-04 12:30] #26 closed

[2022-06-21 13:41] jgarte opened #221 "TODO: Fix paragraph wording/phrasing"
https://github.com/hakancelikdev/unimport/blob/d3de2aa32852b5794a8eac28af5787bc886f58de/docs/faq.md#long-answer

[2022-06-22 22:28] hakancelikdev commented on #221
@jgarte do you have any suggestion ?

[2022-06-26 14:01] jgarte commented on #221
What was trying to be said in that sentence about `tox`? I couldn't make it out. Could you rephrase it again to help explain it to me?

I can help fix it by sending a PR once I understand the tox comment.

[2022-07-01 15:44] furkanonder opened #222 "Wrong detection for necessary import"
I have a python file like that;
[code]
when I run this file I am getting an output like that;
[code]
but ```unimport``` is saying unnecessary import in this file;
[code]

[2022-07-13 02:49] sirosen opened #224 "False positive on `sys.version_info`-dispatched imports for mypy"
First, thanks for an awesome project! I'm working on a sizeable refactor, and wanted a modernized version of autoflake8. A quick run of `unimport -r src/**/*.py` saved me a lot of time. ❤️
There was only one false positive, below.

---

`mypy` recommends checking `sys.version_info` in order to do imports which dispatch between `typing` and `typing_extensions`. I've found that some import structure

[2022-07-15 16:53] hakancelikdev commented on #224
There is currently no if statement analysis, to solve this issue, we need to apply an analysis similar to the analysis we used for [ImportError](https://github.com/hakancelikdev/unimport/pull/62).

Thank you for the Issue and your comments, I will work on it.

[2022-07-15 17:00] hakancelikdev commented on #224
For now If you want you can skip this issue using skip feature, check out -> https://unimport.hakancelik.dev/#skip-import

[2022-07-15 17:06] hakancelikdev commented on #211
Thanks for reporting the issue, if unimport works correctly and removes all unused imports I will change it to exit code 0.

[2022-07-15 21:09] ajyoon commented on #211
It really depends what you think is the correct behavior. I don't know what the best practice is for CI tools commonly integrated into git hooks. Maybe it would make sense for the exit code behavior controlled by a CLI flag so this change could be done in a backwards-compatible way.

[2022-07-15 21:10] ajyoon commented on #211
It could be the current behavior is best, and it's just a matter of documenting it.

[2022-07-15 23:27] hakancelikdev commented on #211
No, I think the current behavior is wrong, I researched this behavior and the behavior in the new version will be as follows.

If any syntax error exists then exit code 1, if the check flag is used and there is any unused import then exit code 1, if there is any unused import and refactored file then exit code 0, for other cases exit code 1, if syntax error and unused import are not present, exit

[2022-07-15 23:27] hakancelikdev commented on #211
Behavior in new version

[code]

[2022-07-15 23:30] ajyoon commented on #211
sounds good, thanks for looking into this!

[2022-07-16 08:57] #211 closed

[2022-07-16 10:33] #120 closed

[2022-07-20 06:54] hakancelikdev opened #228 "Support Match statement Python >= 3.10"
https://www.python.org/dev/peps/pep-0634/

Is there an import used in the match statement? analysis should be added.

[2022-07-27 16:58] ajyoon opened #229 "Error on Ubuntu with Python 3.7"
I recently changed my project's CI from using Python 3.10 to 3.7 and unimport started failing with this error:

[code]

I can't reproduce this on my local machine (Arch Linux with Python 3.7.13), but you can see detailed environment info on [the build here](https://github.com/DigiScore/neoscore/runs/7545067657?check_suite_focus=true#step:12:54).

[2022-07-27 17:00] ajyoon commented on #229
This is happening on unimport-0.9.6 btw, which is the same version that seems to work fine on 3.10 and in my environment.

[2022-07-28 13:53] hakancelikdev commented on #229
Thanks for letting me know, I'll work on it as soon as possible.

[2022-07-28 13:55] hakancelikdev commented on #229
For now, to solve your problem, I can recommend you to use pre-commit, where you can define all your linters in one place and run them with Github action.

https://pre-commit.com/
https://github.com/pre-commit/action

[2022-07-28 13:59] ajyoon commented on #229
Thank you! I could also just put the linter check in its own action which uses 3.10, I might do that since it needs the fewest changes to my workflow.

[2022-07-28 14:12] hakancelikdev commented on #229
I think no need, you found a nice bug, Unimport has never been used before with Github action, if you wait a few days I will fix this issue.

[2022-07-29 13:51] hakancelikdev commented on #209
Thank you for reporting the issue, I would be very happy if you could test it with the [final version](https://github.com/hakancelikdev/unimport/commit/d9f060b87d44da1224a37d6ad45b59e3a18b55bc).

[2022-07-29 13:51] #209 closed

[2022-07-29 23:30] hakancelikdev commented on #229
Thanks for letting me know, I tested it, you can use it with GitHub action using version 0.10.0, or directly

**unimport.yml**
[code]

Let's check -> https://unimport.hakancelik.dev/#use-with-github-action

[2022-07-29 23:34] hakancelikdev commented on #221
Hello, thanks for reporting this issue, I have updated the document, can you check it?

[2022-08-03 09:38] kasium commented on #209
Thanks, works fine

[2022-08-08 14:29] hakancelikdev opened #233 "Remove requirements.txt related codes, features"

[2022-08-08 18:39] #233 closed

[2022-08-09 10:35] hakancelikdev opened #236 "Add tests for main.py"

[2022-08-09 10:41] hakancelikdev opened #237 "Delete old image tag when the package publishes from the stable branch."

[2022-08-09 21:37] #236 closed

[2022-08-12 07:44] hakancelikdev commented on #212
unnecessary, I'm closing the issue.

[2022-08-12 07:44] #212 closed

[2022-08-31 13:54] tolomea opened #240 "Re complile fail mentioning "ps_d" when using --gitignore"
We've recently started getting the below failure.
[code]
We're running with py3.10.4, and this bit of precommit
[code]
It looks like this was caused by our use of --gitignore and the recent (10 hours ago at the time of writing) release of pathspec 0.10.0.

Digging into it I'm seeing that it's taken every line from our .gitignore and wrapped it, so `/prof` has become `^prof(?:(?P<ps_d>/).*)?$` that

[2022-08-31 14:03] tolomea commented on #240
for now we are working around it like this
[code]

[2022-09-04 01:51] hakancelikdev commented on #240
Thank you for opening the Issue I did a few tests, and I solved the problem, but I can't decide yet, the gitignore flag works more correctly in pathspec 0.10.0 and later,

Should I continue to support all versions 0.5.0 and above, or should I support versions 0.10.0 and above?

My idea is to support 0.10.0  and above versions because as I said, unimport will work more correctly if it uses these ve

[2022-09-04 01:52] hakancelikdev commented on #240
Does anyone want to share their opinion?

[2022-09-04 02:28] hakancelikdev commented on #240
It seems that Pathspec has stopped supporting Python 3.6, I can only use the 0.10.0 version and above for Python 3.7 and above.

[2022-09-04 09:00] tolomea commented on #240
3.6 is no longer maintained https://endoflife.date/python

On Sun, 4 Sept 2022, 03:28 Hakan Çelik, ***@***.***> wrote:

[2022-09-04 19:52] hakancelikdev commented on #240
Yes, I know but I want to support it as much as possible.

[2022-09-04 20:05] hakancelikdev commented on #240
It seems unnecessary effort to support 3.6 and windows. https://pypistats.org/packages/unimport

[2022-09-04 21:54] #240 closed

[2022-09-04 22:18] hakancelikdev commented on #240
@tolomea can you try version 0.11.2?

[2022-09-04 22:24] #221 closed, assigned to hakancelikdev

[2022-09-04 22:25] #177 closed

[2022-09-05 10:36] tolomea commented on #240
I get a new error for 0.11.2

[code]

On Sun, Sep 4, 2022 at 11:19 PM Hakan Çelik ***@***.***>
wrote:

[2022-09-05 10:38] hakancelikdev commented on #240
Yes, I noticed and fixed this bug right away, can you try version 0.11.3? @tolomea

[2022-09-21 20:00] #224 closed

[2022-09-21 21:00] hakancelikdev commented on #222
You can use [skip feature](https://unimport.hakancelik.dev/tutorial/other-useful-features/#skip-import), such import statements can always happen, we don't know, they don't matter.

[2022-09-21 21:00] #222 closed

[2022-10-01 21:06] #70 closed

[2022-10-20 10:08] furkanonder opened #255 "Missing type annotations"
I updated the ```.pre-commit-config.yaml``` file by adding  ``` --show-error-codes, --disallow-incomplete-defs``` options to mypy.

mypy raised too many errors for the missing return type annotations;
[code]

[2022-10-28 20:08] isidentical opened #256 "Automatically pick up config options from setup.cfg if it is present in the project root"
If a `setup.cfg` file is present in the run environment, all the defaults must come from it (and CLI parameters can decide to override them).

[2022-11-01 09:53] dennisrei opened #259 "Args in .pre-commit-config.yaml are being ignored"
When I run the pre-commit the provided arguments are being ignored. Or atleast ignore-init is being ignored.

`- repo: https://github.com/hakancelik96/unimport
    rev: 0.12.1
    hooks:
      - id: unimport
        name: unimport (Remove unused imports)
        args:
          [
            --remove,
            --include-star-import,
            --ignore-init,
            --gitignore
          ]

[2022-11-05 21:54] hakancelikdev commented on #259
Thanks for reporting this issue, I will fix it as soon as possible, It looks like we mistyped the pre-commit configuration in the document.

Can you try the one below?

[code]

[2022-11-07 10:49] hakancelikdev opened #260 "Fix pre-commit configuration in the document."
https://github.com/hakancelikdev/unimport/issues/259

[2022-11-07 15:55] hakancelikdev opened #262 "Move playground-unimport to here, with a different branch"
https://github.com/hakancelikdev/playground-unimport

[2022-11-07 18:06] cgl opened #263 "ignore-init setting is not working from command line call"
`ignore-init` setting dit not work for me from command line call.

[code]

[2022-11-08 10:22] rsk2 commented on #255
Hello. Can I work on this?

[2022-11-08 10:24] hakancelikdev commented on #255
@rsk2 Sure, You can, If there is any problem, please don't hesitate to ask.

[2022-11-08 22:21] BenjaminSchubert opened #265 "unimport --diff --color=never output uses colors"
## What did you run?

Assuming the following file (naming it `example.py`):

[code]

and running `unimport --diff --color=never example.py`

## What happened?

The difference shown contains colors

## What did you expect?

No color, they are disabled on the cli

[2022-11-09 10:35] #265 closed

[2022-11-09 11:10] #260 closed

[2022-11-10 10:38] rsk2 commented on #255
@hakancelikdev, what would be the best approach? How do I go about finding the right type annotations?

[2022-11-12 11:44] rsk2 commented on #255
Unassigning myself so someone else can work on this. Thank you 🙏

[2022-11-29 11:08] ajyoon commented on #229
We're using a plain `pip install unimport`, so presumably this is happening on latest.

[2022-11-29 11:18] ajyoon commented on #229
Yeah I just confirmed I'm running `0.12.2`

[2022-11-29 15:33] hakancelikdev commented on #229
https://github.com/DigiScore/neoscore/commit/3e1d092cdc4099c7f31c418104ba28012b304e27

[2022-11-30 17:44] ajyoon commented on #229
Running through the pre-commit framework seems to have solved the issue for us. It's possible the the user was getting an old version of unimport from before this fix.